* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form{
    margin-top: 40px;
}

input, button{
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button{
    background-color: rgb(255, 102, 50);
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover{
    background-color:  #ff8249;
}

.msg-sucesso{
    background-color: #2ecc71;
    padding: 16px;
    color: #fff;
    display: none;
}

.maior{
    padding: 8px;
    font-size: 12px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    display: none;
}

input.erro{
    color: red;
    border-color: red ;
    outline-color: red;
}
